@page "/"
@using Movies.Blazor.Client.Helpers;
@inject IRepository repository

<div>
    <h3>Movies</h3>
    <MoviesList Movies="movies">

    </MoviesList>
</div>

@code {
    public List<Movie> movies { get; set; }

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }
}