@page "/person/edit/{PersonId:int}"

<h3>EditPerson</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int PersonId { get; set; }
    Person Person;
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    private void Edit()
    {
        
    }
}
