@page "/movies/create"
@inject NavigationManager nav
<h3>CreateMovie</h3>

<button class="btn btn-primary" @onclick="SaveMovie">Save Movie</button>

@code {

    public void SaveMovie()
    {
        nav.NavigateTo("movie");  
    }
}
